.DS_Store
.gitconfig
automate_run.bash
creatures/
molecules/
molecules_backup/
north-pacific-gyre/
output.txt
final_results.txt
length_sorted.txt
length.txt
results/
*.pdf
thesis_2018/
writing/
.Rproj.user
data-shell/.bash_profile
data/*.txt
data/animal-counts/
data/elements
data/pdb
cleaned_data/
.RData
.Rhistory

